<div class="chart-container flex min-w-0">
  <ngx-charts-line-chart
    class="progress-burndown-chart h-full flex-1"
    [legend]="legend"
    [results]="data"
    [scheme]="colorScheme"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [tooltipDisabled]="true"
    [view]="undefined"
    [xAxis]="xAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxis]="yAxis"
    [yAxisLabel]="yAxisLabel"
    [yAxisTickFormatting]="formatPerc"
    [yScaleMax]="yScaleMax"
    [yScaleMin]="yScaleMin"
    (select)="onSelect($event)"
  >
  </ngx-charts-line-chart>
</div>

@if (temp.length > 0) {
  <div aria-label="Burndown chart series" class="burndown-legend" role="group">
    @for (series of temp; track series.name; let index = $index) {
      <button
        class="burndown-legend-button"
        type="button"
        [attr.aria-pressed]="isDataShown(series.name)"
        (click)="toggleSeries(series.name)"
      >
        <span
          aria-hidden="true"
          class="burndown-legend-swatch"
          [style.background-color]="seriesColor(index)"
        ></span>
        <span>{{ series.name }}</span>
      </button>
    }
  </div>
}
