::ng-deep input.mat-mdc-input-element.fallback-date {
  font-style: italic;
  color: var(--ot-color-text-muted) !important;
  -webkit-text-fill-color: var(--ot-color-text-muted) !important; /* fixes some WebKit cases */
}

::ng-deep .date-error .mdc-notched-outline__leading,
::ng-deep .date-error .mdc-notched-outline__notch,
::ng-deep .date-error .mdc-notched-outline__trailing {
  border-color: var(--ot-color-error) !important; // tailwind red-500
}

::ng-deep .date-error .mat-mdc-input-element {
  color: var(--ot-color-error) !important;
  -webkit-text-fill-color: var(--ot-color-error) !important;
}
