<div class="group-work-layout">
  <f-group-selector
    class="group-work-layout__selector"
    [onSelect]="groupSelectHandler"
    [project]="project"
    [selectedGroup]="selectedGroup"
    [selectedGroupSet]="selectedGroupSet"
    [unit]="unit"
    [unitRole]="unitRole"
  >
  </f-group-selector>

  @if (selectedGroup) {
    <mat-card appearance="outlined" class="group-work-layout__members">
      <mat-card-header class="group-members-header">
        <mat-card-title class="group-members-title"
          ><span>Members of</span>
          @if (!editingGroupName) {
            <strong>{{ selectedGroup?.name }}</strong>
            @if (unitRole || selectedGroup.groupSet?.allowStudentsToManageGroups) {
              <button
                class="p-1"
                mat-icon-button
                type="button"
                [attr.aria-label]="'Rename group ' + selectedGroup.name"
                (click)="startEditingGroupName()"
              >
                <mat-icon aria-hidden="true">edit</mat-icon>
              </button>
            }
          } @else {
            @if (unitRole || selectedGroup.groupSet?.allowStudentsToManageGroups) {
              <mat-form-field appearance="outline" class="mt-[22px] ml-1">
                <input matInput required [(ngModel)]="selectedGroup.name" />
              </mat-form-field>
              <button class="p-1" mat-icon-button (click)="updateGroup()">
                <mat-icon>save</mat-icon>
              </button>
              <button class="p-1" mat-icon-button (click)="stopEditinGroupName()">
                <mat-icon>close</mat-icon>
              </button>
            }
          }
        </mat-card-title>
        @if (selectedGroup.locked) {
          <mat-icon aria-label="Group is locked">lock</mat-icon>
        }
      </mat-card-header>

      <f-group-member-list
        class="flex-1"
        [project]="project"
        [selectedGroup]="selectedGroup"
        [unit]="unit"
        [unitRole]="unitRole"
      >
      </f-group-member-list>
      @if (unitRole) {
        <mat-card-footer class="mt-auto">
          <mat-form-field appearance="outline" class="mt-3 w-full px-3">
            <input
              matInput
              placeholder="Enter student name or username..."
              type="text"
              [formControl]="control"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="displayFn"
              (optionSelected)="addMember($event.option.value)"
            >
              @for (project of filteredProjects | async; track project) {
                <mat-option [value]="project"> {{ project.student.name }} </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </mat-card-footer>
      }
    </mat-card>
  }
</div>
