<input
  #fileUpload
  aria-label="Choose file to upload"
  class="hidden"
  type="file"
  [accept]="accept"
  [multiple]="multiple"
  (change)="onFileSelected($event)"
/>

<div appDragDrop class="flex w-full items-center" (fileDropped)="onFileDragOver($event)">
  <button
    class="h-[52px] shrink-0 rounded-lg rounded-r-none border-r-0"
    color="primary"
    mat-flat-button
    type="button"
    [disabled]="uploading"
    (click)="fileUpload.click()"
  >
    @if (uploading) {
      <mat-spinner
        aria-hidden="true"
        mode="indeterminate"
        [diameter]="18"
        [strokeWidth]="0.5"
      ></mat-spinner>
    }
    <span>Choose file</span>
  </button>
  <div class="f-inner-border flex grow items-center rounded-lg rounded-l-none bg-white">
    <div class="flex w-full flex-col">
      <div class="ml-2.5 flex h-[48px] items-center">
        @if (file?.name) {
          <mat-icon aria-hidden="true" class="mr-1">upload_file</mat-icon>
        }
        <span class="mt-[4px] max-w-xs grow truncate"> {{ file?.name || message }} </span>
        {{ uploadProgress }}
        <button
          class="ml-auto"
          mat-icon-button
          type="button"
          [attr.aria-label]="uploading ? 'Cancel upload' : 'Upload file'"
          [disabled]="!file?.name"
          (click)="uploading ? cancelUpload() : upload()"
        >
          @if (!uploading) {
            <mat-icon aria-hidden="true">upload</mat-icon>
          }
          @if (uploading) {
            <mat-icon aria-hidden="true">cancel</mat-icon>
          }
        </button>
      </div>
      @if (uploading) {
        <mat-progress-bar
          aria-label="File upload progress"
          mode="determinate"
          [value]="uploadProgress"
        >
        </mat-progress-bar>
      }
      @if (!uploading) {
        <span class="h-[4px]"></span>
      }
    </div>
  </div>
</div>
<p aria-atomic="true" class="sr-only" role="status">{{ uploadStatus }}</p>
