.action .mat-icon {
  color: var(--ot-color-text-muted);
  font-size: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  margin-left: 0.3em;
}

.action .mat-icon:hover {
  color: var(--ot-color-text);
}
