<mat-form-field appearance="outline" class="data-entry" floatLabel="auto">
  <mat-select
    [aria-label]="'Campus for ' + (student.student?.name ?? 'this student')"
    [compareWith]="compareCampus"
    [(value)]="student.campus"
    (selectionChange)="campusChange($event)"
  >
    <mat-option [value]="null">None</mat-option>
    @for (campus of campuses; track campus.id) {
      <mat-option [value]="campus">
        {{ campus.name }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>
