<div class="flex size-full flex-col">
  <mat-tab-group
    class="mx-auto mb-6"
    dynamicHeight
    [selectedIndex]="currentIndex"
    (selectedTabChange)="onTabChange($event)"
  >
    @for (tab of tabs; track tab.routeSegment) {
      <mat-tab [label]="tab.label"></mat-tab>
    }
  </mat-tab-group>

  <div class="min-h-0 flex-1">
    @if (loadingUnit) {
      <f-page-container [fullWidth]="currentTab.routeSegment === 'tasks'">
        <div aria-busy="true" aria-label="Loading unit details">
          <f-skeleton-loader
            shape="line"
            [count]="2"
            [theme]="{width: 'min(100%, 420px)'}"
          ></f-skeleton-loader>
          <f-skeleton-loader
            class="mt-3"
            shape="card"
            [count]="2"
            [theme]="{height: '300px'}"
          ></f-skeleton-loader>
        </div>
      </f-page-container>
    } @else {
      @switch (currentTab.routeSegment) {
        @case ('details') {
          @if (unit) {
            <f-page-container>
              <f-unit-details-editor [unit]="unit"></f-unit-details-editor>
            </f-page-container>
          }
        }
        @case ('learning-outcomes') {
          @if (unit) {
            <f-page-container>
              <div class="header">
                <h3>Unit Learning Outcomes</h3>
                <p>Manage unit outcomes and related feedback templates.</p>
              </div>
              <f-learning-outcome-editor [context]="unit"></f-learning-outcome-editor>
            </f-page-container>
          }
        }
        @case ('staff') {
          @if (unit) {
            <f-page-container>
              <unit-staff-editor [staff]="staff" [unit]="unit"></unit-staff-editor>
            </f-page-container>
          }
        }
        @case ('tutorials') {
          @if (unit) {
            <f-page-container>
              <div class="header">
                <h3>Tutorials</h3>
                <p>Manage tutorial streams and classes for this unit.</p>
              </div>
              <unit-tutorials-manager [unit]="unit"></unit-tutorials-manager>
            </f-page-container>
          }
        }
        @case ('students') {
          @if (unit) {
            <f-page-container>
              <unit-students-editor [unit]="unit"></unit-students-editor>
            </f-page-container>
          }
        }
        @case ('tasks') {
          @if (unit) {
            <f-page-container [fullWidth]="true">
              <f-unit-task-editor [unit]="unit"></f-unit-task-editor>
            </f-page-container>
          }
        }
        @case ('groups') {
          @if (unit) {
            <f-page-container>
              <div class="header">
                <h3>Groups</h3>
                <p>Configure group sets and manage team-based activities.</p>
              </div>
              <f-unit-group-set-editor
                [unit]="unit"
                [unitRole]="assessingUnitRole"
              ></f-unit-group-set-editor>
            </f-page-container>
          }
        }
        @case ('communication') {
          @if (unit) {
            <f-page-container>
              <div class="header">
                <h3>Communication System</h3>
                <p>
                  Create communication sets and rules to target students and automate follow-up
                  actions.
                </p>
              </div>
              <f-unit-communications-editor [unit]="unit"></f-unit-communications-editor>
            </f-page-container>
          }
        }
      }
    }
  </div>
</div>
