p {
  color: var(--ot-color-text);
  text-align: center;
}

hr {
  width: 100%;
}

.hr-fade {
  background: linear-gradient(to right, transparent, var(--ot-color-divider), transparent);
  width: 100%;
  margin-top: 6px;
}

.hr-text {
  margin: 0;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: var(--ot-color-text-muted);
  text-align: center;
  height: 1.5em;
  opacity: 0.8;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, var(--ot-color-divider), transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: var(--ot-color-text-muted);

    padding: 0 0.5em;
    line-height: 1.5em;

    color: var(--ot-color-text-muted);
    background-color: var(--ot-color-page);
  }
}
