<div class="pdf-viewer-panel">
  <div class="pdf-viewer-body">
    <f-pdf-viewer [pdfUrl]="pdfUrl"></f-pdf-viewer>
    <!-- <pdf-viewer *ngIf="pdfUrl" [pdfUrl]="pdfUrl"></pdf-viewer> -->
  </div>
  <!--/panel-body-->
  @if (!hideFooter) {
    <div class="pdf-viewer-footer">
      <div class="pull-left text-muted" [hidden]="!footerText">
        <strong>Note:</strong> {{ footerText }}
      </div>
      <div class="pull-right btn-group">
        @if (resourcesUrl) {
          <button class="btn btn-primary" type="button" (click)="downloadResources()">
            <mat-icon aria-hidden="true" inline>download</mat-icon><span> Resources</span>
          </button>
        }
        <button
          aria-label="Download submission PDF"
          class="btn btn-success"
          type="button"
          (click)="downloadPdf()"
        >
          <mat-icon aria-hidden="true" inline>download</mat-icon
          ><span [hidden]="!resourcesUrl"> PDF</span>
        </button>
      </div>
    </div>
  }
  <!--/panel-footer-->
</div>
