<div class="grid grid-cols-1 gap-x-4 gap-y-2 sm:grid-cols-[minmax(0,1fr)_12rem]">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Task name</mat-label>
    <input matInput required [(ngModel)]="taskDefinition.name" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Code</mat-label>
    <input matInput required [(ngModel)]="taskDefinition.abbreviation" />
    <mat-hint>For example 1.1P</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Task grade</mat-label>
    <mat-select required [(ngModel)]="taskDefinition.targetGrade">
      @for (grade of grades; track grade.value) {
        <mat-option [value]="grade.value">{{ grade.viewValue }}</mat-option>
      }
    </mat-select>
    <mat-hint>Students aiming for this grade or higher do this task</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Weight</mat-label>
    <input matInput min="0" required type="number" [(ngModel)]="taskDefinition.weighting" />
    <mat-hint>Effort next to other tasks</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full sm:col-span-2">
    <mat-label>Description</mat-label>
    <textarea
      cdkAutosizeMaxRows="12"
      cdkAutosizeMinRows="3"
      cdkTextareaAutosize
      matInput
      required
      [(ngModel)]="taskDefinition.description"
    ></textarea>
  </mat-form-field>
</div>
