<div class="panel-full-screen flex flex-row gap-8 px-16 overflow-x-auto">
  <div *ngFor="let unit of unitsProcessed; trackBy: unitIdentify">
    <div class="flex flex-col h-full w-[34rem] shadow">
      <div
        class="shrink-0 flex flex-row gap-4 items-center w-full bg-formatif-blue p-4 rounded-t-lg"
      >
        <h3
          class="cursor-pointer m-0 mt-2 flex-grow text-white truncate min-w-0"
          uiSref="projects/dashboard"
          [uiParams]="{projectId: unit.projectId, taskAbbr: ''}"
        >
          {{ unit.code }}
        </h3>

        <input
          type="text"
          class="h-full w-64 p-2 px-4 text-md rounded-md"
          placeholder="Search tasks..."
        />

        <div class="h-[24px]">
          <button aria-label="Sort options" [matMenuTriggerFor]="sortmenu">
            <mat-icon style="color: white">sort</mat-icon>
          </button>
          <mat-menu #sortmenu="matMenu">
            <div *ngFor="let mode of sortOptions">
              <button mat-menu-item (click)="setSort(unit.projectId, mode)">
                {{ mode }}
              </button>
            </div>
          </mat-menu>
        </div>

        <div class="h-[24px]">
          <button aria-label="Filter options" [matMenuTriggerFor]="filtermenu">
            <mat-icon style="color: white">filter_list_alt</mat-icon>
          </button>
          <mat-menu #filtermenu="matMenu">
            <div
              mat-menu-item
              *ngFor="let mode of filterOptions"
              (click)="$event.stopPropagation(); toggleFilter(unit.projectId, mode)"
            >
              <mat-checkbox [checked]="filters.get(unit.projectId)?.includes(mode) === true" />
              {{ mode }}
            </div>
          </mat-menu>
        </div>
      </div>

      <div class="flex flex-col overflow-y-auto">
        <div *ngFor="let task of unit.tasks">
          <div class="border-b-[1px] border-gray-300">
            <f-dashboard-list-item [task]="task"></f-dashboard-list-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
