<mat-form-field appearance="outline" class="data-entry" floatLabel="auto">
  <mat-select
    multiple
    [aria-label]="'Tutorials for ' + (student.student?.name ?? 'this student')"
    [compareWith]="compareSelection"
    [value]="student.tutorials"
  >
    @if (tutorialsForStreamAndStudent(student).length > 0) {
      <mat-optgroup label="Not in a stream">
        @for (tutorial of tutorialsForStreamAndStudent(student); track tutorial.id) {
          <mat-option [value]="tutorial" (onSelectionChange)="tutorialPicked($event, tutorial)">
            {{ tutorial.abbreviation }}
          </mat-option>
        }
      </mat-optgroup>
    }
    @for (stream of unit.tutorialStreams; track stream) {
      @if (tutorialsForStreamAndStudent(student, stream).length > 0) {
        <mat-optgroup [label]="stream.name">
          @for (tutorial of tutorialsForStreamAndStudent(student, stream); track tutorial.id) {
            <mat-option [value]="tutorial" (onSelectionChange)="tutorialPicked($event, tutorial)">
              {{ tutorial.abbreviation }}
            </mat-option>
          }
        </mat-optgroup>
      }
    }
  </mat-select>
</mat-form-field>
